body {
  margin: 0;
}

.container {
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

#icon {
  width: 50px;
}

@keyframes iconRotate {
  to {
    transform: rotate(360deg);
  }
}

#icon:hover {
  animation: iconRotate 2s linear infinite;
}

.nav-menu,
.nav-userMenu {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
}
.nav-menu:hover,
.nav-userMenu:hover {
  background-color: gray;
}
